body {
	background-color: #CC0000;
	color: #000000;
	font-family: Arial;
}
img {max-width: 80%;
 	max-height: 80%;
 }

.container {
	width: 80%;
	margin: 50 auto;
}

header {
background-color: #CCFF99;
color: #000000;
text-decoration: italic, underline;
font-weight: bold;
padding-top: 30px;
text-align: center;


}


