body {
	background-color: #CC0000;
	color: #fff;
	font-family: Arial;
}

.container {
	width: 100%;
	margin: 0 auto;
}

header {
background-color: #CCFF99;
padding-top: 30px;
}
header h1 {
	text-align: center;
}


